# Basic Python Syntax

In [1]:
print("Hello")

Hello

BackSlash

In [6]:
print("Hello\
    python")

Hello    python

In [9]:
print("üêã")

üêã

In [10]:
print('(¬¥ÔπÉÔΩÄ)(ÔΩ°>Ôπè<ÔΩ°)')

(¬¥ÔπÉÔΩÄ)(ÔΩ°>Ôπè<ÔΩ°)

Triple Quotes

In [11]:
print("""("")....("")""")

("")....("")

String Inside Quotes

In [ ]:
print("Python's World")

Escape Sequences

In [15]:
print("Hello\nPython")

Hello
Python

Formatted Output

In [17]:
name="Lily"
marks=90.879
age=20
print("The name of person is ",name," marks are ",marks," age is ",age)

The name of person is  Lily  marks are  90.879  age is  20

In [18]:
print("The name of person is %s marks are %f age is %d"%(name,marks,age))

The name of person is Lily marks are 90.879000 age is 20

In [19]:
print("The name of person is %4s marks are %3.2f age is %5d"%(name,marks,age))

The name of person is Lily marks are 90.88 age is    20

# Python Variables and Assignment Statement

In [93]:
if=10  #Keyword

SyntaxError: invalid syntax (<ipython-input-93-181407468bd9>, line 1)

In [21]:
if1=10
_10=6

In [22]:
x=y=z=20

In [23]:
x=y=10
print(id(x))
print(id(y))

1492955648
1492955648

In [24]:
del x

In [30]:
x=10
y=10
print(id(x))
print(id(y))

1492955648
1492955648

Variables having integer range values from -5 to 256 are allotted same memory locations.

In [29]:
x=1.5
y=1.5
print(id(x))
print(id(y))

2539433037400
2539433036944

In [28]:
x=257
y=257
print(id(x))
print(id(y))

2539448432272
2539448432240

# Python Operators

Arithmetic Operators

In [31]:
5**5

3125

In [32]:
10+20

30

In [33]:
10-20

-10

In [34]:
10*40

400

In [41]:
10/3

3.3333333333333335

In [42]:
10//3

3

In [43]:
10%3

1

Comparison Operators

In [45]:
a=10
b=20
a==b

False

In [46]:
c=10
a==c

True

In [47]:
c<a

False

In [50]:
a>b

False

In [49]:
c<=a

True

In [48]:
b>=a

True

In [51]:
a!=c

False

Assignment Operators

In [59]:
a=10
b=a
print(b)

10

In [60]:
b+=a
print(b)

20

In [61]:
b-=a
print(b)

10

In [62]:
b*=a
print(b)

100

In [63]:
b/=a
print(b)

10.0

In [64]:
b**=a
print(b)

10000000000.0

Bitwise Operators

In [66]:
a=240
b=1
a|b

241

In [68]:
print(bin(240))
print(bin(1))

0b11110000
0b1

In [69]:
b&a

0

In [72]:
a<<1

480

In [73]:
a>>1

120

In [74]:
~a

-241

In [75]:
a^b

241

Logical Operators

In [76]:
a=1
b=20
a>20 and 10>9

False

In [77]:
a>20 or 10>9

True

In [78]:
10>9 and M<20

NameError: name 'M' is not defined

In [79]:
10<9 and M<20

False

In [81]:
not 10<9

True

Membership Operators

In [83]:
str1="pythonprogram"
print("a" in str1)
print("y" not in str1)

True
False

Identity Operators

In [89]:
a=10
b=10
a==b

True

In [90]:
print(a is b)
print(id(a))
print(id(b))

True
1492955648
1492955648

In [91]:
a=257
b=257
a==b

True

In [92]:
print(a is b)
print(id(a))
print(id(b))

False
2539448434416
2539448434128

Operator Precedence

In [95]:
10+10/29*4

11.379310344827587

or->and->not have low-to-high operator precedence

*,/,//,** have same Priority in Operator Precedence

10+10/29*4 in Python2 will give output as 10

In [96]:
2**-1

0.5

In [97]:
2**3**4

2417851639229258349412352

For Exponentiation, associativity Right-to-Left

10>8>9 -> 10>8 and 8>9